%% -*- mode: Erlang; -*-
{deps, [
  {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
  {mpegts, ".*", {git, "https://github.com/fyler/mpegts.git", {branch, "master"}}},
  {ulitos, ".*", {git, "https://github.com/palkan/ulitos.git", {tag, "v0.2.0"}}} 
]}.
{port_specs, [
  {"priv/erffmpeg", [ "c_src/audio_transcode.c", "c_src/ffmpeg.c", "c_src/debug_loop.c", "c_src/ffmpeg_io.c", "c_src/reader.c"]}
]}.
{port_env, [
  {"CFLAGS", "$CFLAGS $(pkg-config --cflags libavutil libavcodec libswresample libavformat) -I/usr/local/lib/erlang/lib/erl_interface-3.7.13/include"},
  {"LDFLAGS", "$LDFLAGS $(pkg-config --libs libavutil libavcodec libswresample libavformat) -lrt"}
]}.
{erl_opts, [debug_info, {i, "."}, warnings_as_errors, warn_unused_vars, {parse_transform, lager_transform}]}.
{cover_enabled, true}.
{pre_hooks, [
  {compile, "escript scripts/choose_types"},
  {clean, "escript scripts/choose_types -clean"}
]}.
{clean_files, [".eunit", "ebin/*.beam"]}.
{eunit_opts, [
  verbose,
  {report, {eunit_surefire, [{dir, "."}]}}
]}.
