%% -*- mode: Erlang; -*-
{deps, [
  {mpegts, ".*", {git, "https://github.com/fyler/mpegts.git", {branch, "master"}}}
]}.
{port_specs, [
  {"priv/erffmpeg", [ "c_src/audio_transcode.c", "c_src/ffmpeg.c", "c_src/debug_loop.c", "c_src/ffmpeg_io.c", "c_src/reader.c"]}
]}.
{port_env, [
  {"CFLAGS", "$CFLAGS -I/usr/local/include -I/usr/local/lib/erlang/lib/erl_interface-3.7.13/include"},
  {"LDFLAGS", "$LDFLAGS -pthread -L/usr/local/lib -lavfilter -lpostproc -lswresample -lswscale -lavformat -lavcodec -lva -lXfixes -lXext -lX11 -ljack -lasound -lSDL -lx264 -lvpx -lvorbisenc -lvorbis -ltheoraenc -ltheoradec -logg -lspeex -lrtmp -lgnutls -lopencore-amrwb -lopencore-amrnb -lmp3lame -lcrystalhd -lfdk-aac -lfaac -lz -ldl -lavutil -lm"}
]}.
{erl_opts, [debug_info, {i, "."}, warnings_as_errors, warn_unused_vars, {parse_transform, lager_transform}]}.
{cover_enabled, true}.
{pre_hooks, [
  {compile, "escript choose_types"},
  {clean, "escript choose_types -clean"}
]}.
{clean_files, [".eunit", "ebin/*.beam"]}.
{eunit_opts, [
  verbose,
  {report, {eunit_surefire, [{dir, "."}]}}
]}.
